<div fxFlexFill fxLayout fxLayoutGap="1rem">
  <mat-card fxFlex="60">
    <mat-card-title>{{ title }}</mat-card-title>
    <div #imageContainer mat-card-image style="position: relative;">
      <img style="width: 100%;" [src]="background" (load)="resizeOverlay()" />
      <img style="position: absolute; left: 20%;" [ngStyle]="{ 'height.px': (overlayHeight$ | async) || 0 }" [src]="overlay" />
    </div>
    <mat-card-content>Card Content</mat-card-content>
  </mat-card>
  <mat-tab-group fxFlex="40" class="fit-labels">
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="assets/icons/collar.png" />
      </ng-template>
      <sm4-slave-stats></sm4-slave-stats>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="assets/icons/whip.png" />
      </ng-template>
      <sm4-player-stats></sm4-player-stats>
    </mat-tab>
  </mat-tab-group>
</div>
